name: FortiDevSec Scanner CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: SAST
      run: |
        docker pull registry.fortinet.com/fortidevsec/fdevsec_sast:latest
        docker run -rm -mount type=bind,source=$PWD,target=/scan registry.fortinet.com/fortidevsec/fdevsec_sast:latest
